/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*
/windows-key-blocker/node_modules/
/windows-key-blocker/scripts/
/windows-key-blocker/dist/
/windows-key-blocker/build/
